*
!.vimrc
!.vim
!.vim/*
!.vim/.netrwhist*
!.vim/pack/tags
!.vim/pack/vim8_reboot
!.vim/pack/vim8
!.vim/*/*
!.vim/*/*/*
!.vim/*/*/*/*
!.bashrc
!.bash_profile
!.tmux.conf
!.gitignore
!.vim/pack/nohup.out
