[submodule ".vim/pack/vim8/start/vim-tmux-pilot"]
	path = .vim/pack/vim8/start/vim-tmux-pilot
	url = https://github.com/urbainvaes/vim-tmux-pilot
[submodule ".vim/pack/vim8/start/vim-tmux-focus-events"]
	path = .vim/pack/vim8/start/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events
[submodule ".vim/pack/vim8/start/vitality.vim"]
	path = .vim/pack/vim8/start/vitality.vim
	url = https://github.com/sjl/vitality.vim
[submodule ".vim/pack/vim8/start/vim-table-mode.git"]
	path = .vim/pack/vim8/start/vim-table-mode.git
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule ".vim/pack/vim8/start/vim-dotoo"]
	path = .vim/pack/vim8/start/vim-dotoo
	url = https://github.com/dhruvasagar/vim-dotoo
[submodule ".vim/pack/vim8/start/traces.vim"]
	path = .vim/pack/vim8/start/traces.vim
	url = https://github.com/markonm/traces.vim
[submodule ".vim/pack/vim8/start/vim-easy-align"]
	path = .vim/pack/vim8/start/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule ".vim/pack/vim8/start/vim-commentary"]
	path = .vim/pack/vim8/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/vim8/start/vim-startify"]
	path = .vim/pack/vim8/start/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule ".vim/pack/vim8/start/codi.vim"]
	path = .vim/pack/vim8/start/codi.vim
	url = https://github.com/metakirby5/codi.vim
[submodule ".vim/pack/vim8/start/wildfire.vim"]
	path = .vim/pack/vim8/start/wildfire.vim
	url = https://github.com/gcmt/wildfire.vim
[submodule ".vim/pack/vim8/start/vim-sandwich"]
	path = .vim/pack/vim8/start/vim-sandwich
	url = https://github.com/machakann/vim-sandwich
[submodule ".vim/pack/vim8/start/fzf.vim"]
	path = .vim/pack/vim8/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/vim8/start/fff.vim"]
	path = .vim/pack/vim8/start/fff.vim
	url = https://github.com/dylanaraps/fff.vim
[submodule ".vim/pack/vim8/start/vim-gitgutter"]
	path = .vim/pack/vim8/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule ".vim/pack/vim8/start/vim-devicons"]
	path = .vim/pack/vim8/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule ".vim/pack/vim8/start/emmet-vim"]
	path = .vim/pack/vim8/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule ".vim/pack/vim8/start/vim-snippets"]
	path = .vim/pack/vim8/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule ".vim/pack/vim8/start/tlib_vim.git"]
	path = .vim/pack/vim8/start/tlib_vim.git
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/pack/vim8/start/vim-taskwarrior"]
	path = .vim/pack/vim8/start/vim-taskwarrior
	url = https://github.com/blindFS/vim-taskwarrior
[submodule ".vim/pack/vim8/start/taskwarrior.vim"]
	path = .vim/pack/vim8/start/taskwarrior.vim
	url = https://github.com/framallo/taskwarrior.vim
[submodule ".vim/pack/vim8/start/vim-quickhl"]
	path = .vim/pack/vim8/start/vim-quickhl
	url = https://github.com/t9md/vim-quickhl
[submodule ".vim/pack/vim8/start/vim-unstack"]
	path = .vim/pack/vim8/start/vim-unstack
	url = https://github.com/mattboehm/vim-unstack
[submodule ".vim/pack/vim8/start/utl.vim"]
	path = .vim/pack/vim8/start/utl.vim
	url = https://github.com/vim-scripts/utl.vim
[submodule ".vim/pack/vim8/start/vim-repeat"]
	path = .vim/pack/vim8/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/pack/vim8/start/taglist.vim"]
	path = .vim/pack/vim8/start/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
[submodule ".vim/pack/vim8/start/tagbar"]
	path = .vim/pack/vim8/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule ".vim/pack/vim8/start/NrrwRgn"]
	path = .vim/pack/vim8/start/NrrwRgn
	url = https://github.com/chrisbra/NrrwRgn
[submodule ".vim/pack/vim8/start/calendar-vim"]
	path = .vim/pack/vim8/start/calendar-vim
	url = https://github.com/mattn/calendar-vim
[submodule ".vim/pack/vim8/start/SyntaxRange"]
	path = .vim/pack/vim8/start/SyntaxRange
	url = https://github.com/vim-scripts/SyntaxRange
[submodule ".vim/pack/vim8/start/vim-pencil"]
	path = .vim/pack/vim8/start/vim-pencil
	url = https://github.com/reedes/vim-pencil
[submodule ".vim/pack/vim8/start/vim-clap"]
	path = .vim/pack/vim8/start/vim-clap
	url = https://github.com/liuchengxu/vim-clap
[submodule ".vim/pack/vim8/start/ale"]
	path = .vim/pack/vim8/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "/mnt/myth/john/.vim/pack/vim8/start/vim-jsonnet"]
	path = /mnt/myth/john/.vim/pack/vim8/start/vim-jsonnet
	url = https://github.com/google/vim-jsonnet.git
[submodule "/mnt/myth/john/.vim/pack/vim8/start/vim-surround"]
	path = /mnt/myth/john/.vim/pack/vim8/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/vim8/start/vim-css-color.git"]
	path = .vim/pack/vim8/start/vim-css-color.git
	url = https://github.com/ap/vim-css-color.git
[submodule ".vim/pack/vim8/start/lightline.vim.git"]
	path = .vim/pack/vim8/start/lightline.vim.git
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".powerlevel10k"]
	path = .powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".vim/pack/vim8/start/vviki"]
	path = .vim/pack/vim8/start/vviki
	url = https://github.com/ratfactor/vviki
[submodule ".vim/pack/vim8/start/xterm-color-table"]
	path = .vim/pack/vim8/start/xterm-color-table
	url = https://github.com/guns/xterm-color-table.vim
[submodule ".vim/pack/vim8/start/vim-illuminate"]
	path = .vim/pack/vim8/start/vim-illuminate
	url = https://github.com/rrethy/vim-illuminate
[submodule ".zsh/zsh-autocomplete"]
	path = .zsh/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule ".zsh/zsh-you-should-use"]
	path = .zsh/zsh-you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use.git
[submodule ".tmux/tmux-resurrect"]
	path = .tmux/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule ".zsh/zsh-edit"]
	path = .zsh/zsh-edit
	url = git@github.com:marlonrichert/zsh-edit.git
[submodule "/Users/john/.vim/pack/vim8/start/vim-log-highlighting"]
	path = /Users/john/.vim/pack/vim8/start/vim-log-highlighting
	url = https://github.com/MTDL9/vim-log-highlighting
